<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        #mail{
            background-color: bisque;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding: 20px;
            font-size: 20px;
        }
        #my-btn{
            background-color: cornflowerblue;
            display: block;
            padding: 30px;
            color: white;
            text-align: center;
            border-radius: 5px;
            width: 80%;
        }
    </style>
</head>
<body>
    <div id="mail">
        <h1>Hello, {{user.get_username}}</h1>
        <p>We received a request to reset your password for your account at {{site_name}}</p>
        <p>Click this button to reset:</p>
        <a id="my-btn" href="{{protocol}}://{{domain}}{% url "password_reset_confirm" uidb64=uid token=token%}">reset</a>
        <p>if you did not request a password reset, please ignore this email</p>
    </div>
</body>
</html>