<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h1>Hello, {{user.get_username}}</h1>
    <p>We received a request to reset your password for your account at {{site_name}}</p>
    <p>Click this button to reset:</p>
    <a href="{{protocol}}://{{domain}}{% url "password_reset_confirm" uidb64=uid token=token%}">reset</a>
    <p>if you did not request a password reset, please ignore this email</p>
</body>
</html>