{% extends "index.html" %}
{%load static%}
{% block content %}
<div class="ml-60 bg-gray-800 h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-blue-800 ">
      Your profile 
    </h1>

    <div class="px-20 mt-20">
      {% if  profile.image%}
          <img class="rounded-full w-64 h-64 m-auto" src="{{profile.image.url}}" alt="">
          {% else %}
          <img class="rounded-full w-64 h-64 m-auto" src="{% static "images/user.png" %}" alt="">
          {% endif %}
          <a href="{% url "profile_edit" %}"><img class="w-10 h-10" src="{% static "images/edit.png" %}" alt="edit"></a>
        <div class="mt-6 border-t border-gray-100 ">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-md font-medium leading-6 text-white">Username</dt>
              <dd class="mt-1 text-md leading-6 text-white sm:col-span-2 sm:mt-0">{{profile.user.username}}</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-md font-medium leading-6 text-white">Status</dt>
              <dd class="mt-1 text-md leading-6 text-white sm:col-span-2 sm:mt-0">{{profile.status}}</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-md font-medium leading-6 text-white">Email address</dt>
              <dd class="mt-1 text-md leading-6 text-white sm:col-span-2 sm:mt-0">{{profile.user.email}}</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-md font-medium leading-6 text-white">About</dt>
              <dd class="mt-1 text-md leading-6 text-white sm:col-span-2 sm:mt-0">{{profile.bio}}</dd>
            </div>
          </dl>
        </div>
      </div>
      
</div>
{% endblock content %}