{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="ml-60 h-screen flex justify-center items-center gap-7">
    <div class="flex flex-col h-screen w-1/3 bg-gray-800 p-7 ">
        <form class="flex ">
            <input name="username" type="text"
                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <button type="submit"
                class="rounded-md bg-indigo-600 px-5 py-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Find</button>
        </form>
        <div class=" grow">
            <h2
                class="text-xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-blue-800 mt-8">
                Chats</h2>
            {% for chat in chats %}
            <a class="flex text-white gap-4 border-b py-4 mt-10 {% if chat.id == open_chat.id %} bg-gray-500 {% endif %}" href="{% url "chat" chat.id %}">
                <div>
                    {% if chat.user.profile.image%}
                    <img class="rounded-full w-20 h-20 bg-slate-700 p-4" src="{{ chat.user.profile.image.url }}" alt="">
                    {% else %}
                    <img class="rounded-full w-20 h-20 bg-slate-700 p-4" src="{% static 'images/user.png' %}" alt="">
                    {% endif %}
                </div>
                <div class="grow">
                    <p class="text-lg font-bold">
                        {{chat.user.username}}
                    </p>
                    {% if chat.message is not None %}
                    <p>
                        {{chat.message.content}}
                    </p>
                    {% endif %}
                
                </div>
                <div class="flex flex-col justify-start items-end">
                    {% if chat.message is not None %}
                        <p class="opacity-50">
                            {{chat.message.created_at}}
                        </p>
                    
                        {% if chat.message.read is True %}
                        <img src="{% static "images/read.png" %}" >
                        {% else %}
                        <img src="{% static "images/notread.png" %}" >
                        {% endif %} 

                    {% endif %}
                    
                </div>
                <div>

                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="bg-gray-800 w-2/3 h-screen p-7">
        <h2 class="text-xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-blue-800">{% if chat_to == None %}Click on the chat to open it{% else %} {{chat_to.username}} {% endif %}
        </h2>
        <div class="h-[80vh]">
            {% for message in chat_messages %}
            <div class="flex grow w-full {% if message.sender.username == request.user.username %} justify-end {% endif %}">
                <div class="w-1/2">
                    <p class="{% if message.sender.username == request.user.username %}bg-indigo-900{%else%}bg-indigo-600{% endif %} p-5 text-white rounded-full mt-5">{{message.content}}</p>
                    <p class="text-gray-500 text-right text-sm">{{message.created_at}}</p>
                </div>
                {% if message.sender.username == request.user.username %}<a href="{% url "message_delete" id=open_chat.id message_id=message.id %}"><img class="w-4 h-4" src="{% static "images/delete.png" %}" alt=""></a>{% endif %}
            </div>
            {% endfor %}
        </div>
        {% if chat_to != None %}
        <div>
            <form method="POST" class="w-full flex">
                {% csrf_token %}
                <textarea class="px-5 py-3 grow rounded" name="message" ></textarea>
                <button class="rounded-md bg-indigo-600 px-5 py-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><img class="w-8" src="{% static "images/send.png" %}" alt=""></button>
            </form>
        </div>
        {%endif%}
    </div>
</div>
<div class="fixed bottom-4 messages">
    {% for message in messages %}
    <p class="rounded-md bg-indigo-600 px-10 py-4 text-sm font-semibold text-white shadow-sm">
        {{message}}

    </p>
    {% endfor %}
</div>
{% endblock content %}